#botagregar{
    background-color: #c55110;
    min-width: 150px;
    min-height: 45px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    margin-left: 5%;
}
#botagregar:hover{
    background-color:white;
    border:3px solid #c55110;
    color: #c55110;
    font-size: 1.3rem;
    font-weight: bold;
    transition-property:initial;   
    transition-duration: 1s;
}
#seccionprim{
    margin-top: 130px;
    margin-bottom: 80px;
}
#bit{
    display: flex;
    margin-left: 135px;
}
#inpupac{
     display: flex;
}
#inpupac input{
     margin-left: 50px;
    border-radius: 10px;
    min-height: 40px;
    border:3px solid #2CA3AB;
}
#buscar{
    background-color: rgb(226, 220, 214);
    border-radius: 10px;
    min-width: 45px;
    min-height: 40px;
    border:4px solid #2CA3AB;
    margin-left: 1px;
}
#buscar:hover{
    background-color: rgb(167, 193, 243);
}
#buscar i{
    font-size: 1.5rem;
    }
#titlepaci h1{
    text-align: center;
    font-weight: bold;
    color: rgb(13, 5, 43);
    border-bottom: 3px solid rgb(4, 77, 90);
    width: 210px;
    margin-left: 20%;
}
/*tabla*/
#table{
    min-width: 200px;
    max-width: 1500px;
    text-align: center;
    min-height: 150px;
    width: 100%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 1.2rem;
}
#table th {
    border: 3px solid #2CA3AB;
    height: 70px;
    background-color: #16102e;
    color: white;
  }

#table td:first-child {
    width: 10px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
    height: 60px;
 }
  #table td:nth-child(2) {
    width: 10px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
    
  }
 #table td:nth-child(3) {
    width: 150px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
  }
  #table td:nth-child(4) {
    width: 150px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
  }
  #table td:nth-child(5) {
    width: 30px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
  }
 #table td:last-child {
    width: 150px;
    border: 1px solid #2CA3AB;
    background-color:#cccecfef;
    align-items: center;
  }
  #edit{
      background-color: #2CA3AB;
      color: black;
      width: 35%;
      min-height: 40px;
      margin-left: 20px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.1rem;
  }
  #edit:hover{
      background-color: beige;
      border: 3px solid #2ca3ab;
      color: #2CA3AB;
      transition-property:initial;   
      transition-duration: 1s;
      font-size: 1.2rem;
  }
  #elim{
    background-color: #a40101;
    color: rgb(243, 234, 234);
    width: 35%;
    min-height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  #elim:hover{
      background-color: white;
      border: 3px solid #a40101;
      color: #a40101;
      font-size: 1.2rem;
      transition-property:initial;   
      transition-duration: 1s;
  }
  @media screen and (min-width: 320px) and (max-width: 776px) {

    #pacprincipal{
        max-width: 560px;
        width: 100%;
      }
    #inpupac {
        margin-left: 9%;
         min-width: 300px;
    }
    #inpupac input{
        margin-left: 20%;
    }
    #table{
        margin-left: 5%;
    }
    #titlepaci{
        margin-top: 50px;
        margin-left: 25%;
    }
    #bit{
        margin-left: 80px;
    }
   
   
    #edit{
       margin-top: 10px;
        min-width: 80%;
    }
   #elim{
    margin-top: 10px;
    min-width: 80%;
   }
} 

@media screen and (min-width: 777px) and (max-width: 1024px) {

    #pacprincipal{
        max-width: 860px;
        width: 100%;
      }
    #inpupac {
        margin-left: 35%;
         min-width: 300px;
    }
    #inpupac input{
        margin-left: 20%;
    }
    #table{
        margin-left: 1%;
        max-width: 800px;
    }
    #titlepaci{
        margin-top: 50px;
        margin-left: 20%;
    }
    #bit{
        margin-left: 80px;
    }
   
   
    #edit{
       margin-top: 10px;
        min-width: 40%;
    }
   #elim{
    margin-top: 10px;
    min-width: 40%;
   }
} 




@media screen and (min-width: 1300px) and (max-width: 1440px) {
    #pacprincipal{
        max-width: 860px;
        min-width: 830px;
        width: 100%;
      }
    #inpupac {
        margin-left: 75%;
         min-width: 300px;
    }
    #inpupac input{
        margin-left: 20%;
    }
    #table{
        margin-left: 3%;
        min-width: 1100px;
    }
    #titlepaci{
        margin-top: 50px;
       margin-left: 48%;
    }
    #bit{
        margin-left: 80px;
    }
   
   
    #edit{
       margin-top: 10px;
        min-width: 40%;
    }
   #elim{
    margin-top: 10px;
    min-width: 40%;
   }
} 
  
@media screen and (min-width: 1541px) and (max-width: 2500px) {
    #pacprincipal{
        max-width: 1900px;
        min-width: 830px;
        width: 100%;
      }
    #inpupac {
        margin-left: 65%;
         min-width: 300px;
    }
    #inpupac input{
        margin-left: 20%;
    }
    #table{
        margin-left: 3%;
        min-width: 1600px;
    }
    #titlepaci{
        margin-top: 50px;
       margin-left: 30%;
    }
    #bit{
        margin-left: 80px;
    }
   
   
    #edit{
       margin-top: 10px;
        min-width: 40%;
    }
   #elim{
    margin-top: 10px;
    min-width: 40%;
   }
} 