#blacksect{
    background-color: #212529;
    width: 100%;
    min-height: 25px;
}
#contact{
    margin-left: 33%;
    display: flex;
    margin-top: 50px;
    max-height: 30px;
}
#picono i{
    font-size: 0.8rem;
    text-align: center;
    color: white;
    background-color: #c55110;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    padding-top: 6px;
    box-shadow: 3px 4px 9px rgb(148, 146, 146);       
}
 #picono {
    display: flex;
 }
 #picono p {
    margin-left: 40px;
    color: #838383;
    font-family: "Poppins", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
 }
 #lugar{
    margin-left: 55%;
     color: #838383;
     font-family: "Poppins", Sans-serif;
     font-size: 1.2rem;
     font-weight: normal;
  }
 #sicono{
     margin-left: 100px;
     display: flex;
     height: 50px;
     width: 400px;
 }
 #sicono p{
    margin-left: 40px;
    color: #838383;
    font-family: "Poppins", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
 #sicono i{
     font-size: 1rem;
     padding-top: 5px;
     font-size: 0.8rem;
     text-align: center;
     color: white;
     background-color: #c55110;
     border-radius: 100px;
     width: 25px;
     height: 25px;
     padding-top: 6px;
     box-shadow: 3px 4px 9px rgb(148, 146, 146);  
 }
#principal{
    margin-left: 7%;
}
#principal i{
   font-size: 4rem;
   color: #c55110;
   margin-left:30px;
   display: inline-flex;
}
.logo{
   width: 300px;
}
.linea{
   width: 1050px;
   margin-left: 80px;
}
#ingreso1{
    background-color: #0e5883;
    max-width: 180px;
    width: 100%;
    min-height: 47px;
    height: 100%;
    border-radius: 20px;
    font-family: "Poppins", Sans-serif;
    margin-left: 180px;
    
 }
 #ingreso1 p{
    font-size: 1.3rem;
    padding-top: 10px;
    font-weight: 900;
    color: white;;
 }
 #ingreso1:hover{
    background-color: #2da9f1;
    border: 2px solid #0e5883;
    transition-property:initial;   
    transition-duration: 1s;
   }


@media screen and (max-width: 1024px) {
    header{
        width: 100%;
     }
    #contact{
       margin-left: 10%;
    }
    #picono{
        min-width: 200px;
    }
    #principal{
        margin-top: 80px;
    }
    .linea{
        width: 650px;
        height: 30px;
    }
    #ingreso1{
        min-width: 140px;
        min-height: 35px;
        margin-left: 1px;
        margin-top: 25px;
    }
    #ingreso1 p{
       font-size: 0.9rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    header{
        width: 100%;
     }
    #contact{
       margin-left: 20%;
    }
    #picono{
        min-width: 200px;
    }
    #principal{
        margin-top: 80px;
    }
    .linea{
        width: 600px;
        height: 30px;
    }
    #ingreso1{
        min-width: 180px;
        max-height: 70px;
        margin-left: 2px;
        font-size: 1rem;
    }
}