footer{
    background-color: #010102;
    color: white;
    min-height: 5vh;
    width: 100%;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width: 1024px) {
    footer{
        width: 100%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    footer{
        width: 100%;
    }
}