.login{
    background-image: url(./all.png);
    min-height: 900px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
       
}
#volver{
    background-color:rgba(29, 33, 83, 0.904);
    color: white;
    min-width: 150px;
    min-height: 40px;
    margin-top: 4%;
    margin-left: 430px;
    font-weight: bold;
    border-radius: 10px;
    border:2px solid rgb(10, 173, 238);
}
#volver:hover{
    background-color: rgb(168, 221, 224);
    border: 3px solid rgb(32, 32, 82);
    font-size: 1.1rem;
    color: rgb(32, 32, 82);
    font-weight: 900;
    transition-property:initial;   
    transition-duration: 1s;  
}

#slogan{
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}

.log{
    height: 70%;
    width: 600px;
    margin: auto;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 20px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    
}

img.logol{
    align-content: center;
    width: 350px;
}

.ingresa{
    background-color: rgb(168, 221, 224);
    height: 300px;
    margin: auto;
    text-align: center;
    padding: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.inputs{
    margin: 20px;
}

form{
    background-color: white;
}

.inputs input{
    background-color: rgb(233, 246, 247);
    border-radius: 20px;
    height: 50px;
    width: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid  rgb(168, 221, 224);
}

#exampleInputEmail1{
    /*background-image: url(../imagenes/white.png);*/
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 20px;
    display: flex;
    align-items: center;
}

#exampleInputPassword1{
    /*background-image: url(../imagenes/Vector.png);*/
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 25px;
    display: flex;
    align-items: center;
}

.botoni{
    text-align: center;
    padding-bottom: 30px;
}

.btn-primary{
    background-color:  #C55110;
    border-color: 1px solid rgb(18, 18, 48);
    min-width: 150px;
    min-height: 40px;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: rgb(168, 221, 224);
    border-color: rgb(32, 32, 82);
   color:rgb(32, 32, 82);
   font-weight: bold;
   transition-property:initial;   
    transition-duration: 1s; 
}

.form-check a{
    color: #110f0e;
    font-weight: bold;
}

.form-check a:hover{
    color: #2CA3AB;
}
input[type=email]:focus,input[type=password]:focus{
	outline: none;
	margin-top: 10px;
	padding-right: 30px;
	box-shadow: 0px 0px 18px #fa2b06; 
}

#labl{
    font-weight: 700;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px){
    .inputs label {
      text-align:center;
      margin:0;
    }
    .form-check {
      margin:10px 0;
    }
    .boton-button {
      margin-bottom:10px;
    }

    .login{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-width: 600px;
    }

    .log{
        height: 700px;
        width: 600px;
        margin: auto;
        box-shadow:
           inset 0 -3em 3em rgba(0,0,0,0.1),
                 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 20px 20px;
    }
   
  }
  @media screen and (max-width: 425px){
    .login{
        min-height: 1900px;
        height: 100%;
    }
    .log{
        margin-top: 20%;
        margin-right: 15%;
    }
  }

